.home-div{
  text-align: center;
  padding-top: 150px;
  font-family: 'Lato', sans-serif;
  /*font-size: 36px;*/
  color: #227986;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
.search-header{
  font-family: 'Lato', sans-serif;
  /*font-size: 36px;*/
  color: #227986;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-info{
  color: #892345;
}

.avatar-img{
  width: 250px;
  height: 250px;
}

.user-bio-api{
  padding: 0;
  margin:0;
}

.error-message{
  color: #bb1414
}

.user-not-found{
  text-align: center;
}

navbar navbar-light{
  background-color: #e3f2fd;
}